<!DOCTYPE html>
<html lang="ar" dir="rtl">
  <%- include('../layouts/head.ejs') %>
  <body class="bg-light" style="width: 100vw; max-width: 100vw; height: 100vh;">
    <div class="d-flex">
      <!-- Sidebar -->
      <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark text-white" style="width: 15%; height: 100vh;">
        <a href="/" class="d-flex align-items-center mx-auto text-white text-decoration-none">
          <span class="fs-4">نظام مبيعات</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/dashboard" class="nav-link text-white">لوحة التحكم</a>
          </li>
          <li>
            <a href="/items" class="nav-link text-white">إدارة الاصناف</a>
          </li>
          <li>
            <a href="/dashboard/reports" class="nav-link text-white">التقارير</a>
          </li>
          <li>
            <a href="/dashboard/settings" class="nav-link text-white">الإعدادات</a>
          </li>
        </ul>
        <hr>
    <div>
      <a href="/logout" class="btn btn-outline-light w-100">تسجيل الخروج</a>
    </div>
  </div>

  <!-- Main Content -->
  <div class="flex-grow-1 ps-2" style="width: 85%; max-width: 85%; height: 100vh;">
    <div class="row">
      <!-- Right section: items -->
      <div class="col-lg-9">

        <!-- Meals Section:-- -->
        <div class="container">
          <h4 class="lead fw-bold">المأكولات</h4>
          <div class="d-flex align-items-center">
            <button 
              class="btn btn-primary rounded-circle ms-1 d-flex justify-content-center align-items-center" 
              style="width: 40px; height: 40px;" 
              onclick="scrollRow('meals', 800)">
              <i class="bi bi-chevron-right fs-4"></i>
            </button>
            <!-- Meals items container -->
            <div id="meals" class="d-flex overflow-auto flex-nowrap overflow-auto my-scroll">
              <!-- Item cards will be dynamically inserted here -->
              <% meals.forEach(item => {%>
                <div 
                  class="card m-2 flex-shrink-0 menu-item" 
                  style="min-width: 150px; max-width: 150px;" 
                  onclick="addToReceipt('<%= item.name %>', '<%= item.price %>')">

                  <img src="<%= item.imageUrl %>" class="card-img-top w-50 mx-auto mt-2">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.price %> ج.س</p>
                  </div>
                </div>
              <% }) %>
            </div>

            <button 
              class="btn btn-primary rounded-circle me-1 d-flex justify-content-center align-items-center" 
              style="width: 40px; height: 40px;" 
              onclick="scrollRow('meals', -800)">
              <i class="bi bi-chevron-left pe-1 fs-4"></i>
            </button>
          </div>
        </div>
        
        <!-- Drinks Section:-- -->
        <div class="container">
          <h4 class="lead fw-bold">المشروبات</h4>
          <div class="d-flex align-items-center">
            <button 
              class="btn btn-primary rounded-circle ms-1 d-flex justify-content-center align-items-center" 
              style="width: 40px; height: 40px;" 
              onclick="scrollRow('drinks', 800)">
              <i class="bi bi-chevron-right fs-4"></i>
            </button>

            <!-- Drinks items container -->
            <div id="drinks" class="d-flex overflow-auto flex-nowrap overflow-auto my-scroll">
              <!-- Item cards will be dynamically inserted here -->
              <% drinks.forEach(item => {%>
                <div 
                  class="card m-2 flex-shrink-0 menu-item" 
                  style="min-width: 150px; max-width: 150px;"
                  onclick="addToReceipt('<%= item.name %>', '<%= item.price %>')">
                  <img src="<%= item.imageUrl %>" class="card-img-top w-50 mx-auto mt-2">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.price %> ج.س</p>
                  </div>
                </div>
              <% }) %>
            </div>

            <button 
              class="btn btn-primary rounded-circle me-1 d-flex justify-content-center align-items-center" 
              style="width: 40px; height: 40px;" 
              onclick="scrollRow('drinks', -800)">
              <i class="bi bi-chevron-left pe-1 fs-4"></i>
            </button>
          </div>
        </div>

        <!-- Desserts Section:-- -->
        <div class="container">
          <h4 class="lead fw-bold">الحلويات</h4>
          <div class="d-flex align-items-center">
              <button 
                class="btn btn-primary rounded-circle ms-1 d-flex justify-content-center align-items-center" 
                style="width: 40px; height: 40px;" 
                onclick="scrollRow('desserts', 800)">
                <i class="bi bi-chevron-right fs-4"></i>
              </button>

              <!-- Desserts items container -->
              <div id="desserts" class="d-flex overflow-auto flex-nowrap overflow-auto my-scroll">
                <% desserts.forEach(item => {%>
                <div 
                class="card m-2 flex-shrink-0 menu-item" 
                style="min-width: 150px; max-width: 150px;"
                onclick="addToReceipt('<%= item.name %>', '<%= item.price %>')">
                  <img src="<%= item.imageUrl %>" class="card-img-top w-50 mx-auto mt-2">
                  <div class="card-body text-center">
                    <h5 class="card-title"><%= item.name %></h5>
                    <p class="card-text"><%= item.price %> ج.س</p>
                  </div>
                </div>
              <% }) %>
              </div>

              <button 
                class="btn btn-primary rounded-circle me-1 d-flex justify-content-center align-items-center" 
                style="width: 40px; height: 40px;" 
                onclick="scrollRow('desserts', -800)">
                <i class="bi bi-chevron-left text-light pe-1 fs-4"></i>
              </button>
            </div>
        </div>

        <!-- end of the three section -->
      </div>

      <!-- Left section: order + reports -->
      <div class="col-3 pt-5" style="height: 100vh; max-height: 100vh";>
        <div class="card mb-3 shadow-sm">
          <div class="card-body p-0">
            <h5 class="card-title bg-primary text-white py-2 px-3 rounded-top">الطلب</h5>
            <ul id="receiptList" class="list-group mb-3 px-3 receipt"></ul> 

            <!-- total price -->
            <div class="d-flex justify-content-between px-3"><strong>المجموع الكلي:</strong><strong id="totalAmount"></strong></div>

            <!-- order opretion buttons -->
            <div class="my-3 px-3">
              <button id="printBtn" class="btn btn-success" disabled onclick="printReceipt()">طباعة</button>
              <button id="deleteBtn" class="btn btn-danger" disabled onclick="clearReceipt()">حذف</button>
            </div>

          </div>
        </div>


        <div class="card shadow-sm">
          <div class="card-body p-0">
            <h5 class="card-title bg-primary text-white py-2 px-3 rounded-top">التقرير اليومي</h5>
              <p id="allItems" class="d-flex justify-content-between px-3">
                <span>محموع الاصناف :</span>
                <span id="totalItemsSold"><%= reports.totalItemsSold %></span>
              </p>
              <p id="allItems" class="d-flex justify-content-between px-3">
                <span>الاكثر مبيعا:</span>
                <span id="bestSellingItem"><%= reports.bestSellingItem %></span>
              </p>
              <p id="allItems" class="d-flex justify-content-between px-3">
                <span>مجموع المبيعات:</span>
                <span id="totalSales"><%= reports.totalSales %></span>
              </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  
<!-- Bootstrap JS -->
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/main.js"></script>
  </body>
</html>
